<%- include('partials/header') %>

    
  <main class="form-signin text-center w-25 mx-auto">
    <form action="/login" method="post">
      <img class="m-5" src="/passport.svg" width="70" >
      <h1 class="h3 mb-3 fw-normal text-light">Please log in to get access</h1>
  
      <div class="form-floating ">
        <input type="email" class="form-control input-color-dark " id="floatingInput" placeholder="name@example.com" name="username">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3 ">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
  

      <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
      <p class="mt-5 mb-3 text-muted">© 2022 - Jakob Danielsen</p>
    </form>
  </main>
  
  
      
    
  




<%- include('partials/footer') %>
